# Git
.git
.gitignore
*.md

# Python
__pycache__/
.venv/
venv/

# Environment variables
.env

# Docker
config/
Dockerfile
.dockerignore

# Logs and scratch files
*.log
scratch/

# Qdrant
qdrant_storage